@media (min-width: 992px) {

    .navbar-expand-lg .navbar-collapse,
    .navbar-expand-lg .navbar-nav {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar {
        width: 15rem;
        height: 100vh;
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-collapse {
        flex: 1;
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .navbar-nav {
        flex-direction: column;
        width: 100%;
    }

    .navbar-brand {
        margin-left: 0.5em;
        padding-bottom: 0.5rem;
        font-weight: bold;
    }
}

.nav-link.disabled {
  cursor: not-allowed;
  color: #6c757d !important;
}

.logout-btn {
  margin-top: auto;
  padding: 0.5rem 1rem;
  color: #dc3545;
  text-decoration: none;
}